:root {
    --back: rgba(240, 240, 240, 0.3);
    --tone: rgba(0, 0, 0, 0.1);
    --tiny: rgba(0, 0, 0, 0.15);
    --little: rgba(0, 0, 0, 0.2);
    --text: rgba(0, 0, 0, 1);
    --depthShadow: drop-shadow(0 10px 30px rgba(0, 0, 0, 0.2)) drop-shadow(0 1px 8px rgba(0, 0, 0, 0.3));
    --backShadow: drop-shadow(0 10px 30px rgba(0, 0, 0, 0.2)) drop-shadow(0 1px 8px rgba(0, 0, 0, 0.4));
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    height: 100vh;
    align-items: center;
    justify-content: flex-end;
    user-select: none;
    color: var(--text);
    background-color: #888888;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: tgpsifont, -apple-system, BlinkMacSystemFont, "SF Pro Display", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    letter-spacing: 0.3px;
}

h1 {
    width: fit-content;
    margin: 20px auto 0 auto;
    font-size: 2em;
}

p {
    margin: 0 0 25px 0;
    font-weight: 400;
    text-align: center;
}

img {
    display: block;
    width: 110px;
    margin: 5px auto 0 auto;
    filter: var(--depthShadow);
    -webkit-user-drag: none;
}

button {
    width: 100%;
    display: block;
    padding: 10px 30px 10px 30px;
    border: 0;
    outline: 0;
    color: var(--text);
    background-color: var(--tone);
    font: inherit;
    font-weight: bold;
    letter-spacing: inherit;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.2s;
}

button:hover {
    background-color: var(--tiny);
}

button:active {
    background-color: var(--little);
}

a {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    color: var(--text);
    background-color: var(--back);
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    text-decoration: unset;
}

a > span {
    font-weight: 300;
}

hr {
    width: 3px;
    margin: 0 10px;
    border: 0;
    border-radius: 100vh;
    background-color: var(--little);
}

#card {
    width: 18em;
    margin-right: 5em;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--back);
    border-radius: 15px;
    filter: var(--backShadow);
    transition: height 0.4s;
    backdrop-filter: blur(6px);
}

#card > div {
    transition: opacity 0.4s;
}

@media (prefers-color-scheme: dark) {
    :root {
        --back: rgba(15, 15, 15, 0.3);
        --tone: rgba(255, 255, 255, 0.1);
        --tiny: rgba(255, 255, 255, 0.15);
        --little: rgba(255, 255, 255, 0.2);
        --text: rgba(255, 255, 255, 1);
        --depthShadow: drop-shadow(0 10px 30px rgba(255, 255, 255, 0.1)) drop-shadow(0 1px 8px rgba(255, 255, 255, 0.2));
    }
}

@media screen and (max-width: 650px) {
    body {
        justify-content: center;
    }

    div {
        margin-right: 0;
    }
}

@font-face {
    font-family: tgpsifont;
    src: url(fonts/TGPSIFont-Ultralight.otf);
    font-weight: 100;
}

@font-face {
    font-family: tgpsifont;
    src: url(fonts/TGPSIFont-UltralightItalic.otf);
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: tgpsifont;
    src: url(fonts/TGPSIFont-Thin.otf);
    font-weight: 200;
}

@font-face {
    font-family: tgpsifont;
    src: url(fonts/TGPSIFont-ThinItalic.otf);
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: tgpsifont;
    src: url(fonts/TGPSIFont-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: tgpsifont;
    src: url(fonts/TGPSIFont-LightItalic.otf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: tgpsifont;
    src: url(fonts/TGPSIFont-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: tgpsifont;
    src: url(fonts/TGPSIFont-RegularItalic.otf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: tgpsifont;
    src: url(fonts/TGPSIFont-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: tgpsifont;
    src: url(fonts/TGPSIFont-MediumItalic.otf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: tgpsifont;
    src: url(fonts/TGPSIFont-Semibold.otf);
    font-weight: 600;
}

@font-face {
    font-family: tgpsifont;
    src: url(fonts/TGPSIFont-SemiboldItalic.otf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: tgpsifont;
    src: url(fonts/TGPSIFont-Bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: tgpsifont;
    src: url(fonts/TGPSIFont-BoldItalic.otf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: tgpsifont;
    src: url(fonts/TGPSIFont-Heavy.otf);
    font-weight: 800;
}

@font-face {
    font-family: tgpsifont;
    src: url(fonts/TGPSIFont-HeavyItalic.otf);
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: tgpsifont;
    src: url(fonts/TGPSIFont-Black.otf);
    font-weight: 900;
}

@font-face {
    font-family: tgpsifont;
    src: url(fonts/TGPSIFont-BlackItalic.otf);
    font-weight: 900;
    font-style: italic;
}